# NBA recommendation engine

### URLs
- https://github.com/swar/nba_api/tree/master/docs/nba_api/stats/endpoints
- https://github.com/seemethere/nba_py/wiki/stats.nba.com-Endpoint-Documentation#parameters-39
- https://github.com/swar/nba_api/blob/master/docs/nba_api/stats/endpoints/commonplayerinfo.md

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from tqdm import tqdm
import matplotlib.pyplot as plt
from sklearn.neighbors import NearestNeighbors

In [2]:
from nba_api.stats.static import players
from nba_api.stats.endpoints import commonplayerinfo

## List of all active players

In [3]:
# get_players returns a list of dictionaries, each representing a player.
nba_players = pd.DataFrame(players.get_active_players())
print(f'Number of players fetched: {len(nba_players)}')

Number of players fetched: 519

In [4]:
nba_players

          id                 full_name first_name         last_name  is_active
0     203500              Steven Adams     Steven             Adams       True
1    1628389               Bam Adebayo        Bam           Adebayo       True
2     200746         LaMarcus Aldridge   LaMarcus          Aldridge       True
3    1629734            Kyle Alexander       Kyle         Alexander       True
4    1629638  Nickeil Alexander-Walker    Nickeil  Alexander-Walker       True
..       ...                       ...        ...               ...        ...
514   201152            Thaddeus Young   Thaddeus             Young       True
515  1629027                Trae Young       Trae             Young       True
516   203469               Cody Zeller       Cody            Zeller       True
517  1627790                Ante Zizic       Ante             Zizic       True
518  1627826               Ivica Zubac      Ivica             Zubac       True

[519 rows x 5 columns]

In [6]:
def adj_position(pos):
    if pos[0] in ['C', 'F', 'G']:
        return pos[0]
    else:
        print('Please enter a valid position.')
        pass

## Preparation of dataset (time-consuming, only executed once)

### Get all career data for all active players

In [ ]:
from nba_api.stats.endpoints import playercareerstats
import time

stats = list()

for player in tqdm(nba_players['id']):
    time.sleep(.600)
    call_career = playercareerstats.PlayerCareerStats(player_id=player) 
    # how to select data more efficiently, i.e. only last season?
    stats.append(call_career.get_data_frames()[0])

In [ ]:
stats_df = pd.concat(stats)
stats_df.to_csv('playercareerstats.csv', index = False)

### Subset only last season data & add positions of players

In [ ]:
playercareerstats = pd.read_csv('playercareerstats.csv')

In [ ]:
stats_lastSeason = playercareerstats[playercareerstats['SEASON_ID'] == '2020-21'].reset_index().drop(columns=['index'])

In [ ]:
# add positions of players

import time
positions = []
for i in tqdm(range(stats_lastSeason.shape[0])):
    time.sleep(.600)
    positions.append(commonplayerinfo.CommonPlayerInfo(stats_lastSeason['PLAYER_ID'][i]).get_data_frames()[0]['POSITION'][0])
print(len(positions))

from collections import Counter
Counter([adj_position(position) for position in positions])

stats_lastSeason['POSITION'] = [adj_position(position) for position in positions]

## Read data

In [44]:
#stats_lastSeason.to_csv('stats_lastSeason.csv', index = False)
stats_lastSeason = pd.read_csv('stats_lastSeason.csv')

In [45]:
# handle case that players where active for multiple teams last season -> only keep "TOT" (total) column

stats_LS = []
for player_id in stats_lastSeason["PLAYER_ID"].unique():
    stats_player = stats_lastSeason[stats_lastSeason["PLAYER_ID"] == player_id]
    if stats_player.shape[0] == 1:
        stats_LS.append(stats_player)
    else:
        stats_LS.append(stats_player[stats_player["TEAM_ABBREVIATION"] == 'TOT'])
        
stats_lastSeason = pd.concat(stats_LS).reset_index(drop = True)

In [46]:
stats_lastSeason

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,POSITION
0,203500,2020-21,0,1610612740,NOP,27.0,58,58,1605.0,189,...,213,301,514,111,54,38,78,113,438,C
1,1628389,2020-21,0,1610612748,MIA,23.0,64,64,2143.0,456,...,142,431,573,346,75,66,169,145,1197,C
2,200746,2020-21,0,0,TOT,35.0,26,23,674.0,140,...,19,99,118,49,11,29,27,47,352,C
3,1629638,2020-21,0,1610612740,NOP,22.0,46,13,1007.0,192,...,13,131,144,102,47,22,69,88,508,G
4,1628960,2020-21,0,1610612763,MEM,25.0,50,38,1260.0,173,...,19,141,160,108,46,8,48,71,532,G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,1626153,2020-21,0,0,TOT,29.0,63,39,1748.0,240,...,65,204,269,278,101,30,83,75,645,G
431,201152,2020-21,0,1610612741,CHI,33.0,68,23,1652.0,370,...,168,255,423,291,74,40,137,152,823,F
432,1629027,2020-21,0,1610612737,ATL,22.0,63,63,2125.0,487,...,38,207,245,594,53,12,261,111,1594,G
433,203469,2020-21,0,1610612766,CHA,28.0,48,21,1005.0,181,...,119,209,328,86,27,17,51,121,451,F
434,1627826,2020-21,0,1610612746,LAC,24.0,72,33,1609.0,257,...,189,330,519,90,24,62,81,187,650,C

## Class definition

In [42]:
class RecommendationEngine:
    def __init__(self, replacing_player):
        self.player_name = replacing_player        
        try:
            self.player_id = nba_players[nba_players["full_name"] == replacing_player]['id'].iloc[0]
        except KeyError:
            print("Please provide the full name of a valid active NBA player.")
        self.position = adj_position(commonplayerinfo.CommonPlayerInfo(self.player_id).get_data_frames()[0]['POSITION'][0])
            
    def recommend(self):
        stats = stats_lastSeason[(stats_lastSeason['POSITION'] == self.position)].drop(columns=['POSITION'])
        stats_repl_player = stats[stats['PLAYER_ID'] == self.player_id].iloc[:,5:]
        stats_num = stats.iloc[:,5:]
        
        if stats_repl_player.shape[0] != 0:
        
            # https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.NearestNeighbors.html
            model = NearestNeighbors(n_jobs = -1).fit(stats_num)

            res_players = model.kneighbors(stats_repl_player, return_distance = False)[0]
            res_player_0, res_player_1 = res_players[0], res_players[1]
            if stats.reset_index()['PLAYER_ID'][res_player_0] == self.player_id:
                print("Clustering worked.")
                
            res_player_id = stats.reset_index()['PLAYER_ID'][res_player_1]
            rec_player = nba_players[nba_players['id'] == res_player_id]['full_name'].iloc[0]

            print('Input Player:', self.player_name,'\nRecommended Player:', rec_player)
            return rec_player
        
        print("No data available for this player in the last season")
        pass

## Exemplary execution

In [43]:
r1 = RecommendationEngine("Joel Embiid").recommend()

Clustering worked.
Input Player: Joel Embiid
Recommended Player: Karl-Anthony Towns

# TO-DO

- duplicate values of individual players in data for last season?
- Total-Zeile rausschmeiÃŸen?
- nur effiziente, alternativer pick
- welcher am besten mit anderen 4 Spielern passt â€”> machen evtl mehr punkte, assists als typischer spieler auf der position (10 most similar players) â€”> brauchen als neuen spieler jmd der mehr assists macht
- Salary zu NBA Daten mergen
- Fragen fÃ¼r Jonathan 
- more complex neighbor model
- how to treat players with no data in last season
- models vorher berechnen & nur most similar player rausgeben?

In [ ]:
stats_lastSeason.columns # -> adjust data by dividing by number of games?